footer {
    background-color: white;
    height: 60px;
    width: 100%;
    position: absolute;
    border-top: 1px solid #CCCCCC;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
p {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
}